/* File: /css/common.css */
:root {
  --rounded: 4px;
  --rounded-full: 40px;

  /* for buttons and ui controls */
  --p-xs: 0.2rem;
  --p-sm: 0.5rem;
  --p-md: 1rem;
}

body {
  color: var(--default-text);
  background-color: var(--bg-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  transition:
    background-color 0.5s,
    color 0.5s;
}

footer {
  bottom: 0;
  width: 100%;
  background: var(--primary-color);
  color: var(--default-text-inv);
  padding: var(--p-md);
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}
