/* stored in /css/dark.css */

:root {
  --base-hue: 0; /* Red hue */
  --base-saturation: 50%;
  --base-lightness: 30%;

  --primary-color: hsl(var(--base-hue), var(--base-saturation), calc(var(--base-lightness) + 40%));
  --button-hover-color: hsl(var(--base-hue), var(--base-saturation), calc(var(--base-lightness) + 30%));

  --secondary-color: hsl(var(--base-hue), var(--base-saturation), calc(var(--base-lightness) - 20%));
  --border-color: hsl(var(--base-hue), var(--base-saturation), calc(var(--base-lightness) - 10%));
}

.red-theme {
  --base-hue: 0; /* Red hue */
}

.blue-theme {
  --base-hue: 240; /* Blue hue */
}

.green-theme {
  --base-hue: 120; /* Green hue */
}

.grey-theme {
  --base-hue: 0; /* Grey hue */
  --base-saturation: 0%; /* Grey is less saturated */
}
