/* Stored in /css/form.css */

input {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--default-text);
  color: var(--default-text);
  background-color: var(--form-control-bg);
}
