/*
File: css/form.css
Version: 0.1: Made base form easier to work with devs with labels and form-controls
*/
form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

form.grid {
  display: grid;
/*todo*/
}

input,
textarea {
  padding: 0.5rem;
  border-radius: var(--form-control-border-radius);
  border: 1px solid var(--form-control-border-color);
  color: var(--default-text);
  background-color: var(--form-control-bg-color);
  width: 100%;
}

:root {
  --form-control-border-radius: 4px;
}
