/* Stored in /css/form.css */

/*
Good default for form with the form inputs with width: 100%
 */
form.centered {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (min-width: 600px) {
    width: 400px;
    margin: 0 auto;
  }
}

input {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--default-text);
  color: var(--default-text);
  background-color: var(--form-control-bg);
  width: 100%;
}
