@media (prefers-color-scheme: dark) {
  & input,
  button {
    color: #fff;
    background-color: #1a202c;
  }
  & button:hover {
    background-color: #22262d;
  }
  & input {
    border: 1px solid white;
  }
}

& input {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

& button {
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  background-color: #eee;
}
& button:hover {
  background-color: #ddd;
}

nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  > a {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    background-color: #eee;
  }
  @media (prefers-color-scheme: dark) {
    > a {
      background-color: #2d3748;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 4rem;
  color: #1a202c;
  background-color: #fff;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #1a202c;
  }
}